*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
}

body{
    background-color: #f6f8f9
}

header{
    background-color: white;
    padding: 10px;
}

h1{
    display: inline-block;
    line-height: 10px;
}

main{
    width: 80%;
    margin: 50px auto;
    background-color: white;
}

button{
    padding: 10px 15px;
    border-radius: 10px;
}

section.azioni button:first-child{
    background-color: #47adf1;
    border-color: white;
    color: white;
    margin: 15px 5px 15px 50px;
}

section.azioni button:last-child{
    background-color: white;
    border: 2px solid grey;
    color: grey;
}

hr{
    height: 3px;
    border-width: 0;
    color: #f6f8f9;
    background-color: #f6f8f9;
}

section{
    line-height: 20px;
    margin-left: 30px;
    margin-top: 25px;
}

section>h2{
    display: inline-block;
}

.status::before{
    display: inline-block;
    width: 18px;
    height: 18px;
    text-align: center;
    border-radius: 50%;
    margin-right: 5px;
}

.done.status::before{
    border: 1px solid green;
    color: green;
    content: '\2713';
}
.todo.status::before{
    border: 1px solid red;
    color: red;
    content: '\00d7';
}
.etichetta{
    color: white;
    border-radius: 20px;
    font-size: small;
    padding: 5px 10px;
}
.editorial{
    background-color:  #47adf1;
}

.q1goals{
    background-color: #9c72e4;
}

.recruiting{
    background-color: #64c0a9;
}

.mobile{
    background-color: #f29e33;
}

.website{
    background-color: #d863a1;
}

.sales{
    background-color: #b0c926;
}

li{
    margin: 10px;
}

/* prova inserimento stato con ::before */
/* span::before{ 
    font-size: 10px;
    width: 20px;
    height: 100px;
    content: '\2715';
    border: 1px solid red;
    border-radius: 50%;
    padding: 3px;
    color: red;
    margin-right: 10px;

}*/